<!DOCTYPE suite System "https://testng.org/testng-1.0.dtd" >

<suite name="Test Suite">
    <test name="My Tests">
        <groups>
            <run>
                <include name="login" />
            </run>
        </groups>
        <classes>
            <class name="Testpackage.MyTests" />
        </classes>
        <parameters>
            <parameter name="param1" value="value1" />
            <parameter name="param2" value="value2" />
        </parameters>
    </test>
</suite>
